# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local
.env.local

# typescript
*.tsbuildinfo

# drizzle
/drizzle/migrations/meta/_journal.json.bak

# ide
.vscode/
.idea/

# next 16 dev output
/.next/dev
